<% if @current %>
  <div id="currentuser">
    <div>
      <label for="">Username</label>
      <div><%= @current[:username] %> <a id="user-logout" class="pull-right" href="/users/deactive">Logout</a></div>
    </div>
    <div>
      <label for="">Certname</label>
      <div><%= @current[:certname] %></div> 
    </div>
  <% if @current[:port] -%>
      <div>
        <label for="">Webserver URL</label>
        <div><a href="/port/<%= @current[:port] %>/"><%= @current[:url] %></a></div> 
      </div>
  <% end -%>
  <% if @current[:container_status] -%>
      <div>
        <label for="">Container</label>
        <div><%= @current[:container_status]['Description'] %></div> 
      </div>
  <% end -%>
  <% if @current[:node_group_url] -%>
      <div>
        <label for="">Node Group</label>
        <div><a href="https://<%= request.host %>/<%= @current[:node_group_url] %>" target="_console">Console login</a></div> 
      </div>
  <% end -%>
  <% if @current[:controlrepo] -%>
      <div>
        <label for="">Control Repo</label>
        <div><a href="<%= @current[:controlrepo] %>" target="_repository"><%= @current[:controlrepo] %></a></div> 
      </div>
  <% end -%>
  <% if @current[:latestcommit] -%>
      <div>
        <label for="">Latest Commit</label>
        <div><a href="<%= @current[:latestcommit][:url] %>" target="_repository"><%= @current[:latestcommit][:message] %></a>
          <small>(<%= @current[:latestcommit][:time] %>)</small></div> 
      </div>
  <% end -%>
  <% if settings.plugins.include? :Dashboard -%>
      <div>
        <label for="">Spec Tests</label>
        <div><a href="/dashboard/details/<%= @current[:username] %>" target="_results">results</a> <small>(may not always be available)</small></div> 
      </div>
  <% end -%>
  <% if @current[:tree] -%>
    <div>
      <label for="">Environment Structure:</label>
      <div id="tree"></div>
    </div>
  <% end -%>
  <% if action_enabled? :deploy -%>
    <input type="button" id="deploy" data-user="<%= @current[:username] %>" value="Deploy Environment">
    <i class="fa"></i>
  <% end -%>
<% end %>

<% if @current and @current[:tree] %>
<script type="text/javascript">
  $(document).ready(function() {
      $('#tree').jstree({ 'core': { 'data': <%= @current[:tree] %> } });
  });
</script>
<% end %>
