<div id="usercontent">
  <h3>All Users</h3>
  <table id="users">
    <tr class="header">
      <th>Username</th>
      <th>Certname</th>
      <% if @users.first and @users.first[1][:port] %><th>Webserver URL</th><% end %>
      <th>&nbsp;</th>
    </tr>
    <% if @users %>
      <% even = true %>
      <% @users.each do |key, user| %>
        <tr class="<%= even ? "even":"odd" %>">
          <td class="username"><%= key %></td>
          <td class="certname"><%= user[:certname] %></td>
          <% if user[:port] %><td class="url"><a href="/port/<%= user[:port] %>/"><%= user[:url] %></a></td><% end %>
          <td class="select"><a href="/users/active/<%= user[:username] %>">select</a></td>
        </tr>
        <% even = !even %>
      <% end %>
    <% end %>
  </table>
</div>
