<div id="dashboard">
  <span id="notifications">
    Last updated <%= Puppetfactory::Helpers.approximate_time_difference(@test_data['timestamp']) %>
    (<a href="#" id="show-explanation">Why don't the tests add up?</a>)
  </span>
  <div id="tools">
    <a id="update">Update</a>
    <select name="current" id="current">
      <option value="summary"<%= 'selected' if @current == 'summary' %> >Summary Only</option>
      <option value="all" <%= 'selected' if @current == 'all' %> >All Tests</option>
    <% @available.each do |test| %>
      <option value="<%= test %>" <%= 'selected' if @current == test %> ><%= test %></option>
    <% end %>
    </select>
  </div>
  <div class="content">
  <% @test_data.each do |user, userdata| %>
  <% next if user == 'timestamp' %>
  <% total, passed, percent = Puppetfactory::Plugins::Dashboard.test_completion(userdata['summary']) %>
  <% details="/dashboard/details/#{user}/summary" %>
    <div class="user">
      <label><%= user %></label>
      <div class="progressbar gutter summary <%= user %>">
        <span class="label"><%= passed %> of <%= total %> tests passing</span>
        <div class="completed" style="width: <%= percent %>%">Overall completion <a target="_results" href="<%= details %>">(details)</a></div>
      </div>

      <% userdata.each do |result, data| %>
        <% next if result == 'summary' %>
        <% total, passed, percent = Puppetfactory::Plugins::Dashboard.test_completion(data) %>
        <% details="/dashboard/details/#{user}/#{result}" %>
      <div class="progressbar gutter <%= result %> <%= user %>">
        <span class="label"><%= passed %> of <%= total %> tests passing</span>
        <div class="completed" style="width: <%= percent %>%"><%= result %> <a target="_results" href="<%= details %>">(details)</a></div>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
  <div id="explanation" title="Inconsistent Test Results">
    <p>There are several contexts in which the test scores may not perfectly reflect reality.</p>
    <ul>
      <li>
        When rspec runs multiple tests globbed together, the individual results files are not
        written out; only the summary. That means that the individual tests will only sum up to
        the numbers in the summary if you run each test individually first.
      </li>
      <li>
        Individual tests might contradict each other. For example, one lab might ask students
        to manage a user, and the next might instruct them to remove that classification.
      </li>
      <li>
        A student may choose to perform the tasks in the lab in a slightly different fashion.
        For example, if we ask them to make a <code>training</code> user, they might instead
        manage a <code>testing123</code> user. They've still effectively completed the tasks
        set before them.
      </li>
    </ul>
    <p>Please use your own discretion when interpreting these numbers.</p>
  </div>
</div>
<script type="text/javascript" src="js/dashboard.js"></script>
