<div id="usercontent">
  <div id="newuserwrapper">
    <input type="button" id="showuser" value="+ New User" />
    <div id="newuser">
      <table>
        <tr><td class="label">Username:</td><td><input type="text" id="user" value="" /></td></tr>
        <tr><td class="label">Password:</td><td><input type="password" id="password" value="" /></td></tr>
        <tr><td class="label">Repeat:</td><td><input type="password" id="password2" value="" /></td></tr>
        <tr><td class="label">Session ID:</td><td><input type="text" id="session" value="" /></td></tr>
      </table>
      <input type="button" id="hideuser" value="Cancel" />
      <input type="button" id="save" value="Save" />
    </div>
  </div>
<% if @current %>
  <h2>Selected User</h2>
  <table id="currentuser">
    <tr><th class="header">Username:</th>    <td><%= @current[:username] %></td></tr>
    <tr><th class="header">Certname:</th>    <td><%= @current[:certname] %></td></tr>
<% if @current[:port] -%>
    <tr><th class="header">Webserver URL:</th> <td><a href="/port/<%= @current[:port] %>/"><%= @current[:url] %></a></td></tr>
<% end -%>
<% if @current[:container_status] -%>
    <tr><th class="header">Container:</th>   <td><%= @current[:container_status]['Description'] %></td></tr>
<% end -%>
<% if @current[:node_group_url] -%>
    <tr><th class="header">Node Group:</th>  <td><a href="<%= @current[:node_group_url] %>" target="_console">Console login</a></td></tr>
<% end -%>
<% if @current[:controlrepo] -%>
    <tr><th class="header">Control Repo:</th>  <td><a href="<%= @current[:controlrepo] %>" target="_repository"><%= @current[:controlrepo] %></a></td></tr>
<% end -%>
<% if @current[:latestcommit] -%>
    <tr><th class="header">Latest Commit:</th>
      <td>
        <a href="<%= @current[:latestcommit][:url] %>" target="_repository"><%= @current[:latestcommit][:message] %></a>
        <small>(<%= @current[:latestcommit][:time] %>)</small>
    </td></tr>
<% end -%>
<% if settings.plugins.include? :Dashboard -%>
    <tr><th class="header">Spec Tests:</th>  <td><a href="/dashboard/details/<%= @current[:username] %>" target="_results">results</a> <small>(may not always be available)</small></td></tr>
<% end -%>
<% if action_enabled? :deploy -%>
    <tr class="actions"><td colspan=2><i class="fa"></i><input type="button" id="deploy" data-user="<%= @current[:username] %>" value="Deploy Environment"></td></tr>
<% end -%>
  </table>
<% end %>
  <h2>All Users</h2>
  <table id="users">
    <tr class="header">
      <th>Username</th>
      <th>Certname</th>
      <% if @users.first[1][:port] %><th>Webserver URL</th><% end %>
      <th>&nbsp;</th>
    </tr>
    <% if @users %>
      <% even = true %>
      <% @users.each do |key, user| %>
        <tr class="<%= even ? "even":"odd" %>">
          <td class="username"><%= key %></td>
          <td class="certname"><%= user[:certname] %></td>
          <% if user[:port] %><td class="url"><a href="/port/<%= user[:port] %>/"><%= user[:url] %></a></td><% end %>
          <td class="select"><a href="/users/active/<%= user[:username] %>">select</a></td>
        </tr>
        <% even = !even %>
      <% end %>
    <% end %>
  </table>
</div>
<script type="text/javascript" src="js/usermanagement.js"></script>
