<div id="usercontent">
  <div id="newuserwrapper">
    <input type="button" id="showuser" value="+ New User" />
    <div id="newuser">
      <table>
        <tr><td class="label">Username:</td><td><input type="text" id="user" value="" /></td></tr>
        <tr><td class="label">Password:</td><td><input type="text" id="password" value="" /></td></tr>
        <tr><td class="label">Repeat:</td><td><input type="text" id="password2" value="" /></td></tr>
      </table>
      <input type="button" id="hideuser" value="Cancel" />
      <input type="button" id="save" value="Save" />
    </div>
  </div>

  <table id="users">
    <tr class="header">
      <th>Status</th>
      <th>Username</th>
      <th>Sandbox URL</th>
      <th>Certname</th>
      <th>Last Puppet Run</th>
    </tr>
    <% if @users %>
      <% even = true %>
      <% @users.each do |key, user| %>
        <tr class="<%= even ? "even":"odd" %>">
          <td class="status" align="center"><%= user[:status] %></td>
          <td class="username" align="center"><%= key %></td>
          <td class="url" align="center"><a href="http://<%= request.host %>/users/<%= user[:port] %>"><%= user[:certname] %></a></td>
          <td class="certname" align="center"><%= user[:certname] %></td>
          <td class="lastrun" align="center"><%= user[:lastrun] %></td>
        </tr>
        <% even = !even %>
      <% end %>
    <% end %>
  </table>
</div>
<script type="text/javascript" src="usermanagement.js"></script>
